@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');


*{
    margin: 0;
}

.wrapper {
    width: 1400px;
    margin: 0 auto;
}

body {
    background-color: white;
    font-family: "PT Sans";
}

header{
    padding: 40px 10px 10px 10px;
    background-color: white;
}

header div{
    display: flex;
    justify-content: space-between;
}

h1 {
    font-size: 35px;
    color: #012A4A;
}

header button{
    margin: 5px 15px;
    padding: 12px;
    border-radius: 10px;
    font-size: 16px;
    background-color: white;
    border: none;
    color: #798A8F;
    cursor: pointer;
}

header button:hover{
    color: #012A4A;
    transition-duration: 1s;
    /* background-color: #EDF6F9;
     border-right: 0.5px inset #012A4A;*/
    border-bottom:0.5px inset #012A4A;
    border-radius: 0px;
}






